html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

body {
  margin: 0px 0 0 0;
}

.container {
  max-width: 100%;
  padding: 0px;
  margin: 0px 0px 0px 0px;
}

header {
  position: relative;
  z-index: 30;
}
header .logo {
  float: left;
  margin-top: 40px;
  margin-left: 5%;
}
header .desktopNav {
  font-family: "Source Sans Pro", sans-serif;
  display: inline-block;
  font-size: 20px;
  font-weight: 600;
  color: #6d6e70;
  float: right;
  margin-top: 40px;
  margin-right: 40px;
}
header .desktopNav ul {
  display: flex;
  justify-content: space-between;
  text-align: center;
  margin: 10px auto;
  list-style: none;
}
header .desktopNav li {
  color: #6d6e70;
  margin: 0px 25px;
}
header .desktopNav .contact {
  color: #f2f2f2;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f2a900;
  border-radius: 17px;
  height: 40px;
  width: 150px;
  margin-top: -8px;
}

.home {
  width: 100%;
  min-width: 400px;
  max-width: 100vw;
  display: flex;
  height: 100vh;
  display: unset;
}
.home .containerBox {
  background-color: #f2f2f2;
  border-bottom: 1px solid #f2f2f2;
  height: 100vh;
  width: 55%;
  position: relative;
  z-index: 20;
}
.home .containerBox .medium-form {
  font-family: "Source Sans Pro", sans-serif;
  width: 513px;
  position: absolute;
  top: 15%;
  left: 23%;
  display: flex;
  align-content: space-evenly;
}
.home .containerBox .medium-form .abstract {
  font-size: 38px;
  position: absolute;
}
.home .containerBox .medium-form .abstract .bold {
  font-weight: bold;
}
.home .containerBox .medium-form form {
  margin-top: 35%;
  font-size: 19px;
}
.home .containerBox .medium-form form input.requiredEmail {
  font-family: "Source Sans Pro", sans-serif;
  color: #f2f2f2;
  font-size: 20px;
  border-radius: 20px;
  width: 377px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
.home .containerBox .medium-form form .checkboxBox {
  display: flex;
  align-content: space-between;
  margin-top: 15px;
}
.home .containerBox .medium-form form .checkboxBox p {
  margin-left: 12px;
  font-family: "Source Sans Pro", sans-serif;
  color: #6d6e70;
  font-size: 19px;
}
.home .containerBox .medium-form form .checkboxBox p .bold {
  font-weight: bold;
}
.home .containerBox .medium-form form .btnSet {
  margin-top: 40px;
}
.home .containerBox .medium-form form .btnSet .button-mailchimp {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #6d6e70;
  border: 2px solid #6d6e70;
  font-family: "Source Sans Pro", sans-serif;
  color: white;
  font-size: 20px;
  border-radius: 45px;
  height: 40px;
  width: 256px;
  height: 35px;
}
.home .containerBox .medium-form form .btnSet .primary-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #6d6e70;
  border: 2px solid #6d6e70;
  font-family: "Source Sans Pro", sans-serif;
  color: white;
  font-size: 20px;
  border-radius: 45px;
  height: 40px;
  width: 256px;
}
.home .containerBox .title {
  font-family: "Source Sans Pro", sans-serif;
  color: #f2a900;
  font-size: 65px;
  font-weight: bold;
  position: absolute;
  margin-left: 23%;
  width: 844px;
  margin-top: 58%;
  z-index: 100;
}
.home .containerBox .miscelanea {
  margin-top: 75%;
  margin-left: -130%;
}

.medium-content {
  max-width: 700px;
  min-width: 400px;
  position: relative;
  z-index: 10;
  float: right;
  margin-right: 25%;
  margin-top: -40%;
}
.medium-content iframe {
  width: 220%;
  height: 75vh;
}

.modal-backdrop {
  background-color: #f9b133;
}

.modal-dialog {
  position: relative;
  width: 1100px;
  margin: 7.75rem auto;
  pointer-events: none;
}

.modal-content {
  position: relative;
  width: 1100px;
  pointer-events: auto;
  background-color: white;
  padding: 45px;
  border: 8px solid white;
  border-radius: 0.4rem;
  box-shadow: 2px;
  box-shadow: 15px 15px #5252523b;
  outline: 0;
}
.modal-content .button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #6d6e70;
  border: 2px solid #6d6e70;
  font-family: "Source Sans Pro", sans-serif;
  color: white;
  font-size: 20px;
  border-radius: 45px;
  height: 40px;
  width: 256px;
}
.modal-content .inlineForm {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
.modal-content .columnForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
.modal-content label {
  font-family: "Source Sans Pro", sans-serif;
  color: #6d6e70;
  font-size: 16px;
}

/*# sourceMappingURL=style.css.map */
