html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

body {
  margin: 0px 0 0 0;
  overflow-x: hidden;
}
@media screen and (max-width: 700px) {
  body {
    max-width: 450px;
    min-width: 380px;
  }
}

.container {
  max-width: 100%;
  padding: 0px;
  margin: 0px 0px 0px 0px;
}
@media screen and (max-width: 700px) {
  .container {
    display: flex;
    justify-content: space-between;
    align-content: center;
    width: 100vw;
  }
}

header {
  height: 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 30;
}
@media screen and (max-width: 700px) {
  header {
    width: 0vw;
  }
}
header .logo {
  float: left;
  margin-top: 20vh;
  margin-left: 5%;
}
@media screen and (max-width: 700px) {
  header .logo {
    margin-top: 15vh;
    margin-left: 4vh;
  }
}
@media only screen and (min-width: 1330px) {
  header .logo {
    margin-top: 15vh;
    margin-left: 4vh;
  }
}
@media screen and (max-width: 700px) {
  header .logo img {
    width: 40vh;
  }
}
@media only screen and (min-width: 1330px) {
  header .logo img {
    width: 25vw;
  }
}
header .desktopNav {
  font-family: "Source Sans Pro", sans-serif;
  display: inline-block;
  font-size: 120%;
  font-weight: 600;
  color: #6d6e70;
  float: right;
  margin-top: 20vh;
  margin-right: 5vh;
  text-decoration: none;
}
@media only screen and (min-width: 1330px) {
  header .desktopNav {
    font-size: 110%;
    margin: 15vh 5vh 0 0;
  }
}
@media screen and (max-width: 700px) {
  header .desktopNav {
    display: none;
  }
}
header .desktopNav ul {
  display: flex;
  justify-content: space-between;
  text-align: center;
  margin: 10px auto;
  list-style: none;
}
header .desktopNav li {
  margin: 0px 25px;
}
header .desktopNav li a:link, header .desktopNav li a:visited, header .desktopNav li a:active {
  text-decoration: none;
  color: #6d6e70;
}
header .desktopNav li:hover {
  color: #f2a900;
  text-decoration: none;
}
header .desktopNav .contact {
  color: #f2f2f2;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f2a900;
  border-radius: 17px;
  height: 40px;
  width: 150px;
  margin-top: -8px;
  color: white;
}
header .desktopNav .contact a:link, header .desktopNav .contact a:visited, header .desktopNav .contact a:active {
  text-decoration: none;
  color: white;
}
header .desktopNav .contact:hover {
  background-color: #6d6e70;
  color: white;
}

.home {
  width: 100%;
  min-width: 400px;
  max-width: 100vw;
  display: flex;
  height: 100vh;
  display: unset;
}
@media screen and (max-width: 700px) {
  .home {
    width: 100%;
    height: 100vh;
    display: unset;
  }
}
.home .containerBox {
  background-color: #f2f2f2;
  border-bottom: 1px solid #f2f2f2;
  height: 100vh;
  width: 55%;
  position: relative;
  z-index: 20;
}
@media screen and (max-width: 700px) {
  .home .containerBox {
    width: 100vw;
    height: 75vh;
  }
}
.home .containerBox .medium-form {
  font-family: "Source Sans Pro", sans-serif;
  width: 45%;
  position: absolute;
  top: 15%;
  left: 15vh;
  display: flex;
  align-content: space-evenly;
}
@media screen and (max-width: 700px) {
  .home .containerBox .medium-form {
    top: -115vh;
    left: 23vh;
  }
}
.home .containerBox .medium-form .abstract {
  font-size: 150%;
  position: absolute;
  line-height: 95%;
  top: 10px;
}
.home .containerBox .medium-form .abstract .bold {
  font-weight: bold;
}
@media screen and (max-width: 700px) {
  .home .containerBox .medium-form .abstract {
    top: 195vh;
    right: -2vh;
    font-size: 130%;
    width: 90vw;
    text-align: center;
  }
}
@media only screen and (min-width: 1330px) {
  .home .containerBox .medium-form .abstract {
    font-size: 197%;
  }
}
.home .containerBox .medium-form form {
  margin-top: 14vh;
}
@media screen and (max-width: 700px) {
  .home .containerBox .medium-form form {
    margin-top: 126vh;
  }
}
@media only screen and (min-width: 1330px) {
  .home .containerBox .medium-form form {
    margin-top: 13vh;
  }
}
.home .containerBox .medium-form form input.requiredEmail {
  font-family: "Source Sans Pro", sans-serif;
  color: #f2f2f2;
  font-size: 115%;
  border: 1px solid #c5c5c5;
  border-radius: 20px;
  width: 80%;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4%;
}
@media screen and (max-width: 700px) {
  .home .containerBox .medium-form form input.requiredEmail {
    top: 220vh;
    position: absolute;
    right: -10%;
    font-size: 15px;
    width: 95vw;
    height: 6px;
    padding: 15px;
  }
}
@media only screen and (min-width: 1330px) {
  .home .containerBox .medium-form form input.requiredEmail {
    width: 90%;
  }
}
.home .containerBox .medium-form form .checkboxBox {
  display: flex;
  align-content: space-between;
  margin-top: 3vh;
}
@media only screen and (min-width: 1330px) {
  .home .containerBox .medium-form form .checkboxBox {
    margin-top: 10px;
  }
}
@media screen and (max-width: 700px) {
  .home .containerBox .medium-form form .checkboxBox {
    position: absolute;
    top: 90%;
    right: -5%;
    width: 50vh;
  }
}
.home .containerBox .medium-form form .checkboxBox input.checkbox {
  height: 2vh;
}
@media screen and (max-width: 700px) {
  .home .containerBox .medium-form form .checkboxBox input.checkbox {
    height: 4vh;
  }
}
.home .containerBox .medium-form form .checkboxBox p {
  margin-left: 12px;
  font-family: "Source Sans Pro", sans-serif;
  color: #6d6e70;
  font-size: 15px;
}
@media screen and (max-width: 700px) {
  .home .containerBox .medium-form form .checkboxBox p {
    font-size: 55%;
  }
}
.home .containerBox .medium-form form .checkboxBox p .bold {
  font-weight: bold;
}
.home .containerBox .medium-form form .btnSet {
  margin-top: 5vh;
}
@media screen and (max-width: 700px) {
  .home .containerBox .medium-form form .btnSet {
    margin-left: -19vh;
  }
}
@media only screen and (min-width: 1330px) {
  .home .containerBox .medium-form form .btnSet {
    margin-top: 3vh;
  }
}
.home .containerBox .medium-form form .btnSet .button-mailchimp {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #6d6e70;
  border: 2px solid #6d6e70;
  font-family: "Source Sans Pro", sans-serif;
  color: white;
  font-size: 20px;
  border-radius: 45px;
  height: 40px;
  width: 256px;
  height: 35px;
}
@media screen and (max-width: 700px) {
  .home .containerBox .medium-form form .btnSet .button-mailchimp {
    height: 55px;
    width: 100vh;
  }
}
.home .containerBox .medium-form form .btnSet .button-mailchimp:hover {
  border: 2px solid #f2a900;
  background-color: #f2a900;
  transition: ease-in 0.2s;
}
@media screen and (max-width: 700px) {
  .home .containerBox .medium-form form .btnSet .button-mailchimp {
    width: 50vh;
    height: 30px;
  }
}
.home .containerBox .medium-form form .btnSet .primary-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #6d6e70;
  border: 2px solid #6d6e70;
  font-family: "Source Sans Pro", sans-serif;
  color: white;
  font-size: 20px;
  border-radius: 45px;
  height: 40px;
  width: 256px;
}
@media screen and (max-width: 700px) {
  .home .containerBox .medium-form form .btnSet .primary-btn {
    height: 55px;
    width: 100vh;
  }
}
.home .containerBox .medium-form form .btnSet .primary-btn:hover {
  border: 2px solid #f2a900;
  background-color: #f2a900;
  transition: ease-in 0.2s;
}
@media screen and (max-width: 700px) {
  .home .containerBox .medium-form form .btnSet .primary-btn {
    width: 90vw;
    margin-top: 97vh;
    height: 35px;
    border-radius: 10px;
  }
}
.home .containerBox .miscelanea {
  margin-top: 85vh;
  margin-left: -105vh;
}
@media screen and (max-width: 700px) {
  .home .containerBox .miscelanea {
    margin-top: 67vh;
    margin-left: -65%;
    width: 100vw;
  }
}
@media only screen and (min-width: 1330px) {
  .home .containerBox .miscelanea {
    margin-left: -100vh;
    margin-top: 84vh;
  }
}

.medium-content {
  max-width: 700px;
  min-width: 400px;
  position: absolute;
  z-index: 20;
  margin-top: -80vh;
  right: 63vh;
}
@media screen and (min-width: 1330px) {
  .medium-content {
    margin-top: -80vh;
    right: 63vh;
  }
}
@media screen and (max-width: 700px) {
  .medium-content {
    margin-right: -45vh;
    margin-top: -60vh;
    max-width: 450px;
    min-width: 315px;
  }
}
.medium-content iframe {
  width: 250%;
  height: 60vh;
}
@media screen and (min-width: 1330px) {
  .medium-content iframe {
    width: 250%;
    height: 60vh;
  }
}
@media screen and (max-width: 700px) {
  .medium-content iframe {
    width: 115vw;
    height: 40vh;
  }
}

.title {
  font-family: "Source Sans Pro", sans-serif;
  color: #f2a900;
  font-size: 330%;
  line-height: 110%;
  font-weight: bold;
  position: absolute;
  left: 20vh;
  width: 844px;
  margin-top: -35vh;
  z-index: 100;
}
@media screen and (max-width: 700px) {
  .title {
    font-size: 150%;
    position: absolute;
    text-align: center;
    margin-left: -45vw;
    width: 125vw;
    margin-top: -18vh;
  }
}
@media only screen and (min-width: 701px) {
  .title {
    font-size: 250%;
    margin-top: -30vh;
  }
}
@media only screen and (min-width: 1330px) {
  .title {
    font-size: 400%;
    margin-top: -40vh;
    margin-left: -6vh;
  }
}

@media screen and (max-width: 700px) {
  .modal {
    padding: 6vh;
    width: 115vw;
  }
}

.modal-backdrop {
  background-color: #f9b133;
}
@media screen and (max-width: 700px) {
  .modal-backdrop {
    width: 100vw;
    height: 100vh;
  }
}

.modal-dialog {
  position: relative;
  width: 1100px;
  margin: 7.75rem auto;
  pointer-events: none;
}
@media (min-width: 576px) {
  .modal-dialog {
    max-width: 1100px;
  }
}

.modal-content {
  position: relative;
  width: 1100px;
  pointer-events: auto;
  background-color: white;
  padding: 45px;
  border: 8px solid white;
  border-radius: 0.4rem;
  box-shadow: 2px;
  box-shadow: 15px 15px #5252523b;
  outline: 0;
}
@media screen and (max-width: 700px) {
  .modal-content {
    width: 90vw;
    height: 250vh;
    padding: 1vh;
  }
}
.modal-content .button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #6d6e70;
  border: 2px solid #6d6e70;
  font-family: "Source Sans Pro", sans-serif;
  color: white;
  font-size: 20px;
  border-radius: 45px;
  height: 40px;
  width: 256px;
  display: flex;
  flex-direction: column;
  align-content: center;
}
@media screen and (max-width: 700px) {
  .modal-content .button {
    height: 55px;
    width: 100vh;
  }
}
.modal-content .button:hover {
  border: 2px solid #f2a900;
  background-color: #f2a900;
  transition: ease-in 0.2s;
}
.modal-content input {
  border: 1px solid #c5c5c5;
  border-radius: 20px;
  height: 35px;
  width: 230px;
  padding-left: 15px;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: bold;
  color: #6d6e70;
}
.modal-content select {
  border: 1px solid #c5c5c5;
  border-radius: 20px;
  height: 35px;
  width: 230px;
  padding-left: 15px;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: bold;
  color: #6d6e70;
}
.modal-content label {
  font-family: "Source Sans Pro", sans-serif;
  color: #6d6e70;
  font-size: 16px;
  margin-bottom: 8px;
  font-weight: 400;
}
.modal-content .mc-field-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
@media screen and (max-width: 700px) {
  .modal-content .mc-field-group {
    position: initial;
  }
}
.modal-content .mc-field-group-legal {
  display: flex;
  flex-direction: row;
  align-content: space-between;
  margin: 5px auto 5px;
}
.modal-content .mc-field-group-legal .checkbox {
  border: 1px solid #f1f1f1;
  border-radius: 4px;
  margin: 3px 3px;
  list-style-type: none;
  height: 15px;
  width: 15px;
}
.modal-content .mc-field-group-legal p {
  margin: 3px 6px 3px 6px;
  font-family: "Source Sans Pro", sans-serif;
  color: #6d6e70;
}
.modal-content .inlineForm {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  padding: 10px;
}
@media screen and (max-width: 700px) {
  .modal-content .inlineForm {
    flex-direction: column;
  }
}
.modal-content .secondSectionForm {
  display: flex;
  justify-content: center;
  margin: 20px auto 20px;
  border-top: 1px solid #d4d1d19c;
}
@media screen and (max-width: 700px) {
  .modal-content .secondSectionForm {
    flex-direction: column;
  }
}
.modal-content .columnForm {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  padding: 10px;
  margin-top: 10px;
  max-width: 509px;
}
.modal-content .columnForm .sectionBtn {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  padding: 10px;
}
@media screen and (max-width: 700px) {
  .modal-content .columnForm .sectionBtn {
    flex-direction: column;
  }
}
.modal-content .columnForm .sectionBtn button {
  border: 1px solid #c5c5c5;
  border-radius: 20px;
  height: 35px;
  width: 230px;
  padding-left: 15px;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: bold;
  color: #6d6e70;
  border: 1px solid #c5c5c5;
  border-radius: 25px;
  height: 40px;
  width: 55px;
  background-color: white;
  font-family: "Source Sans Pro", sans-serif;
  color: grey;
  margin: 0 10px 0 0;
}
.modal-content .columnForm .sectionBtn input {
  padding-left: 15px;
}
.modal-content .clear {
  display: flex;
  justify-content: center;
}

.secondSection {
  display: flex;
  flex-direction: row;
  justify-content: left;
  margin: 20vh 0 20vh 0;
}
@media screen and (max-width: 700px) {
  .secondSection {
    display: none;
  }
}
.secondSection .banner {
  background-image: url("../assets/Img/Asset 1-100.jpg");
  height: 80vh;
  background-position: center left;
  background-repeat: no-repeat;
  background-size: contain;
  width: 75%;
}
.secondSection .whatIs {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  z-index: 50;
  margin: 5% 0 0px 48%;
  width: 75%;
  float: right;
}
@media only screen and (min-width: 1330px) {
  .secondSection .whatIs {
    width: 65%;
  }
}
.secondSection .whatIs h3 {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 375%;
  font-weight: bold;
  margin: 0 -10px 30px -55px;
}
@media screen and (max-width: 700px) {
  .secondSection .whatIs h3 {
    font-size: 250%;
    margin: 0 auto;
  }
}
.secondSection .whatIs p {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 140%;
  width: 65%;
}
.secondSection .whatIs p .bold {
  font-weight: bold;
}
.secondSection .whatIs img.miscelanea {
  position: absolute;
  top: 50vh;
  right: -5vh;
}
@media only screen and (min-width: 1330px) {
  .secondSection .whatIs img.miscelanea {
    right: -35vh;
  }
}
@media screen and (max-width: 700px) {
  .secondSection .whatIs img.miscelanea {
    display: none;
  }
}

.middleSection {
  display: none;
}
@media screen and (max-width: 700px) {
  .middleSection {
    display: block;
    margin-top: 25vh;
  }
}
@media screen and (max-width: 700px) {
  .middleSection .backgroundSection {
    display: block;
    background-image: url(../assets/Img/secondSection-02.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 250vh;
  }
}

.thirdSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.thirdSection .containerBoxes {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
@media screen and (max-width: 700px) {
  .thirdSection .containerBoxes {
    display: none;
  }
}
.thirdSection .containerBoxes .miscelanea {
  position: absolute;
  transform: translate(20px, 83px);
  width: 75%;
}
@media screen and (max-width: 700px) {
  .thirdSection .containerBoxes .miscelanea {
    display: none;
  }
}
.thirdSection .containerBoxes .boxes {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: white;
  height: 352px;
  width: 45vh;
  border: 1px solid #6d6e7038;
  border-radius: 20px;
  box-shadow: 5px 6px 15px 1px #5252523b;
  font-family: "Source Sans Pro", sans-serif;
  padding: 20px;
  position: relative;
  text-align: center;
}
@media screen and (max-width: 700px) {
  .thirdSection .containerBoxes .boxes {
    display: none;
  }
}
.thirdSection .containerBoxes .boxes h2 {
  font-size: 7vh;
  font-weight: bold;
  color: #f2a900;
  justify-content: center;
  line-height: 6vh;
}
@media screen and (max-width: 700px) {
  .thirdSection .containerBoxes .boxes h2 {
    display: none;
  }
}
.thirdSection .containerBoxes .boxes h2 .strech {
  margin-bottom: -20%;
}
.thirdSection .containerBoxes .boxes p {
  font-size: 125%;
  color: #404040;
  line-height: 115%;
  margin-top: -10%;
}
.thirdSection .containerBoxes .boxes p .bold {
  font-weight: bold;
}
@media screen and (max-width: 700px) {
  .thirdSection .containerBoxes .boxes p {
    display: none;
  }
}
.thirdSection .howDoes {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 110px;
}
@media screen and (max-width: 700px) {
  .thirdSection .howDoes {
    display: none;
  }
}
.thirdSection .howDoes h2 {
  font-family: "Source Sans Pro", sans-serif;
  color: #6d6e70;
  font-size: 70px;
  font-weight: 600;
}
@media screen and (max-width: 700px) {
  .thirdSection .howDoes h2 {
    display: none;
  }
}
.thirdSection .howDoes .icons {
  background-image: url("../assets/Logos/icons-15.svg");
  height: 100vh;
  background-position: center left;
  background-repeat: no-repeat;
  background-size: contain;
  width: 55%;
  margin: 110px auto 110px;
}
@media screen and (max-width: 700px) {
  .thirdSection .howDoes .icons {
    display: none;
  }
}
.thirdSection .howDoes .reason {
  width: 850px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  margin-top: 20vh;
}
@media screen and (max-width: 700px) {
  .thirdSection .howDoes .reason {
    display: none;
  }
}
@media only screen and (min-width: 1330px) {
  .thirdSection .howDoes .reason {
    margin-top: 28vh;
  }
}
.thirdSection .howDoes .reason h4 {
  font-family: "Source Sans Pro", sans-serif;
  color: #6d6e70;
  font-size: 195%;
  line-height: 105%;
  text-align: left;
  margin-bottom: 16vh;
  margin-left: 40vh;
}
.thirdSection .howDoes .reason h4 .bold {
  font-weight: bold;
  color: #f2a900;
}
.thirdSection .howDoes .reason h4 .italic {
  color: #f2a900;
  font-style: oblique;
}
@media screen and (max-width: 700px) {
  .thirdSection .howDoes .reason h4 {
    display: none;
  }
}
@media only screen and (min-width: 1330px) {
  .thirdSection .howDoes .reason h4 {
    margin-bottom: 16vh;
    margin-left: 30vh;
  }
}
.thirdSection .ultimateForm {
  background-color: #f2a900;
  padding: 65px;
  width: 100vw;
}
@media screen and (max-width: 700px) {
  .thirdSection .ultimateForm {
    padding: 20px;
    width: 100vw;
  }
}
.thirdSection .ultimateForm .validate {
  display: flex;
  align-items: center;
}
@media screen and (max-width: 700px) {
  .thirdSection .ultimateForm .validate {
    flex-direction: column;
    width: 80vw;
  }
}
.thirdSection .ultimateForm .validate .mc-field-group {
  margin: 10px auto 10px;
  display: flex;
  flex-direction: column-reverse;
  align-content: center;
}
@media screen and (max-width: 700px) {
  .thirdSection .ultimateForm .validate .mc-field-group {
    margin: 10px auto 1px;
  }
}
.thirdSection .ultimateForm .validate .mc-field-group .requiredEmail {
  border: 1px solid #c5c5c5;
  border-radius: 20px;
  height: 35px;
  width: 230px;
  padding-left: 15px;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: bold;
  color: #6d6e70;
  border-radius: 34px;
  height: 55px;
  width: 575px;
  padding-left: 30px;
  font-family: "Source Sans Pro", sans-serif;
  color: #9e9fa14d;
  font-size: 29px;
}
@media screen and (max-width: 700px) {
  .thirdSection .ultimateForm .validate .mc-field-group .requiredEmail {
    padding-left: 15px;
    font-weight: 400;
    border-radius: 10px;
    height: 36px;
    width: 75vw;
    font-size: 15px;
  }
}
.thirdSection .ultimateForm .validate .mc-field-group .checkboxBox {
  display: flex;
  align-content: space-between;
  margin-top: 15px;
  width: 583px;
}
@media screen and (max-width: 700px) {
  .thirdSection .ultimateForm .validate .mc-field-group .checkboxBox {
    margin-top: 5px;
    width: 80vw;
  }
}
.thirdSection .ultimateForm .validate .mc-field-group .checkboxBox input.checkbox {
  width: 60px;
  height: 25px;
  border: 5px solid grey;
  border-radius: 13px;
  background-color: white;
}
@media screen and (max-width: 700px) {
  .thirdSection .ultimateForm .validate .mc-field-group .checkboxBox input.checkbox {
    height: 20px;
  }
}
.thirdSection .ultimateForm .validate .mc-field-group .checkboxBox p {
  margin-left: 12px;
  font-family: "Source Sans Pro", sans-serif;
  color: #6d6e70;
  font-size: 19px;
}
.thirdSection .ultimateForm .validate .mc-field-group .checkboxBox p .bold {
  font-weight: bold;
}
@media screen and (max-width: 700px) {
  .thirdSection .ultimateForm .validate .mc-field-group .checkboxBox p {
    font-size: 12px;
    margin-left: 5px;
  }
}
.thirdSection .ultimateForm .validate .mc-field-group .btnSet {
  margin-top: 40px;
}
@media screen and (max-width: 700px) {
  .thirdSection .ultimateForm .validate .mc-field-group .btnSet {
    margin: 3px auto;
  }
}
.thirdSection .ultimateForm .validate .mc-field-group .btnSet .button-mailchimp {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #6d6e70;
  border: 2px solid #6d6e70;
  font-family: "Source Sans Pro", sans-serif;
  color: white;
  font-size: 20px;
  border-radius: 45px;
  height: 40px;
  width: 256px;
  height: 37px;
  font-size: 26px;
  font-weight: 600;
  border-radius: 25px;
}
@media screen and (max-width: 700px) {
  .thirdSection .ultimateForm .validate .mc-field-group .btnSet .button-mailchimp {
    height: 55px;
    width: 100vh;
  }
}
.thirdSection .ultimateForm .validate .mc-field-group .btnSet .button-mailchimp:hover {
  border: 2px solid #f2a900;
  background-color: #f2a900;
  transition: ease-in 0.2s;
}
.thirdSection .ultimateForm .validate .mc-field-group .btnSet .button-mailchimp:hover {
  border: 2px solid #f2f2f2;
  background-color: #f2f2f2;
  transition: ease-in 0.3s;
  color: #f2a900;
}
@media screen and (max-width: 700px) {
  .thirdSection .ultimateForm .validate .mc-field-group .btnSet .button-mailchimp {
    height: 25px;
    width: 50vh;
    font-size: 15px;
  }
}
.thirdSection .ultimateForm .validate .mc-field-group .btnSet .primary-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #6d6e70;
  border: 2px solid #6d6e70;
  font-family: "Source Sans Pro", sans-serif;
  color: white;
  font-size: 20px;
  border-radius: 45px;
  height: 40px;
  width: 256px;
  height: 55px;
  width: 300px;
}
@media screen and (max-width: 700px) {
  .thirdSection .ultimateForm .validate .mc-field-group .btnSet .primary-btn {
    height: 55px;
    width: 100vh;
  }
}
.thirdSection .ultimateForm .validate .mc-field-group .btnSet .primary-btn:hover {
  border: 2px solid #f2a900;
  background-color: #f2a900;
  transition: ease-in 0.2s;
}
.thirdSection .ultimateForm .validate .mc-field-group .btnSet .primary-btn:hover {
  border: 2px solid #f2f2f2;
  background-color: #f2f2f2;
  transition: ease-in 0.3s;
  color: #f2a900;
}
@media screen and (max-width: 700px) {
  .thirdSection .ultimateForm .validate .mc-field-group .btnSet .primary-btn {
    height: 30px;
    width: 42vh;
    border-radius: 5px;
  }
}

.quirtSection {
  display: none;
  flex-direction: column;
  align-content: center;
  padding-top: 60px;
}
.quirtSection .miscOrangeGrey {
  position: absolute;
  margin-left: -30vw;
}
.quirtSection .circle {
  position: absolute;
  right: -25vh;
  height: 60vh;
}
.quirtSection .contentArtc {
  margin: 280px auto 0px;
}
.quirtSection .contentArtc .article {
  display: flex;
  flex-direction: row;
  align-content: baseline;
  position: relative;
  margin: 0px 20vh 0px 0px;
}
.quirtSection .contentArtc .article .phot {
  background-image: url("../assets/Img/marius-ciocirlan-398931-unsplash.jpg");
  height: 55vh;
  width: 35vw;
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: cover;
}
.quirtSection .contentArtc .article .witness {
  background-color: #f2a900;
  display: flex;
  flex-direction: column;
  padding: 55px;
  justify-content: space-between;
  font-family: "Source Sans Pro", sans-serif;
  width: 500px;
}
.quirtSection .contentArtc .article .witness h2.name {
  font-size: 70px;
  font-weight: bold;
  margin-left: -50%;
  color: white;
  margin: -10px 0 10px -190px;
}
.quirtSection .contentArtc .article .witness h4.city {
  font-size: 40px;
  font-weight: 600;
  color: #6d6e70;
  margin: -50px 0px 0px 0px;
}
.quirtSection .contentArtc .article .witness article {
  font-size: 24px;
  font-style: oblique;
  color: #6d6e70;
}
.quirtSection .contentArtc .articleRight {
  display: flex;
  flex-direction: row;
  align-content: baseline;
  margin: 0 0 0 30vh;
  position: relative;
}
.quirtSection .contentArtc .articleRight .phot {
  background-image: url("../assets/Img/marius-ciocirlan-398931-unsplash.jpg");
  height: 55vh;
  width: 35vw;
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: cover;
}
.quirtSection .contentArtc .articleRight .witness {
  background-color: #cccccc;
  display: flex;
  flex-direction: column;
  padding: 55px;
  justify-content: space-between;
  font-family: "Source Sans Pro", sans-serif;
  width: 500px;
}
.quirtSection .contentArtc .articleRight .witness h2.name {
  font-size: 70px;
  font-weight: bold;
  margin-left: -50%;
  color: white;
  margin: -10px 0 10px -190px;
}
.quirtSection .contentArtc .articleRight .witness h4.city {
  font-size: 40px;
  font-weight: 600;
  color: #6d6e70;
  margin: -50px 0px 0px 0px;
}
.quirtSection .contentArtc .articleRight .witness article {
  font-size: 24px;
  font-style: oblique;
  color: #6d6e70;
}
.quirtSection .miscGrey {
  position: relative;
  top: -45vh;
  left: 150vh;
}
.quirtSection .diamond {
  width: 5%;
  position: relative;
  top: -45vh;
  right: -180vh;
}

footer {
  display: flex;
  justify-content: center;
  align-content: center;
  margin: 45px auto 200px;
}
@media screen and (max-width: 700px) {
  footer {
    margin: 45px auto 45px;
  }
}
@media screen and (max-width: 700px) {
  footer .logo {
    margin-right: 10vh;
  }
}
@media screen and (max-width: 700px) {
  footer .logo img {
    width: 70vw;
  }
}

/*# sourceMappingURL=style.css.map */
